.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  margin: 2px;
}

.logo {
  background-color:#EDEDED;
  color: rgb(12, 12, 12);
  text-align: center;
  font-family: monospace; 
  border-radius: 10px;
}

.logo h1:hover {
  font-size: 20px;
  color: rgb(99, 99, 102);
}

#menu ul {
  background-color:#EDEDED;
  justify-content: center;
  display: flex;
  margin: 2px;
  border-radius: 10px;
  list-style:none; 
}

#menu ul li { 
  display: inline; 
}

#menu ul li a {
  background-color:#EDEDED;
  color: #333;
  display: inline-block;  
  border-radius: 10px;
  border-bottom:3px solid #EDEDED;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
}

#menu ul li a:hover {
  background-color:#080808;
  color: #EDEDED;
  border-bottom: 3px solid #0c0c0c;
}

.imagem {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.foto {
  display: flex;
  justify-content: space-around;
}

.titulo, .descricao {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

.rodape {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  background-color:#EDEDED;
  color: rgb(12, 12, 12);
}

