.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
  margin: 2px;

}

.logo {
  background-color: #EDEDED;
  color: rgb(12, 12, 12);
  text-align: center;
  font-family: monospace;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1:hover {
  transform: scale(1.2);
  color: rgb(99, 99, 102);
}

#menu ul {
  background-color: #EDEDED;
  justify-content: center;
  display: flex;
  margin: 2px;
  border-radius: 10px;
  list-style: none;
  text-transform: uppercase;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  background-color: #EDEDED;
  color: #333;
  display: inline-block;
  border-radius: 10px;
  border-bottom: 3px solid #EDEDED;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
}

#menu ul li a:hover {
  background-color: #080808;
  color: #EDEDED;
  border-bottom: 3px solid #0c0c0c;
}

/*adicionei background e border radius */
.imagem {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.imagem img {
  border-radius: 4px;
  height: 380px;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.imagem img:hover {
  border-color: #EDEDED;
  ;
}

.imagem img:active {
  border-color: rgb(166, 163, 211);
}

.imagem>div+div {
  margin-left: 10px;
}

.imagem>div {
  margin-bottom: 24px;
  flex: 1;
  text-align: center;
}

.foto {
  display: flex;
  justify-content: space-around;
}

.titulo,
.descricao {
  text-align: center;
  font-size: 15px;
  margin: 0;
}

footer {
  text-align: center;
  background-color: #EDEDED;
  padding: 5px 0;
  border-radius: 10px;
}

.copyright {
  color: rgb(12, 12, 12);
  font-size: 12px;
}

@media only screen and (max-width: 700px) {
  .logo {
    display: none;
  }

  #menu ul {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  #menu ul li a {
    display: block;
    width: 100%;
  }
}