@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  background: rgb(193, 199, 216);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header {
  background-image: linear-gradient(
    -90deg,
    rgb(186, 194, 216) 0%,
    #62639e 100%
  );
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 13.5px;
  height: 60px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

#menu ul {
  justify-content: center;
  display: flex;
  border-radius: 5px;
  list-style: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  background-image: linear-gradient(-90deg, #adaee4 0%, #62639e 100%);
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border-bottom: 2px solid #000000;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin-left: 5px;
  font-size: 15px;
}

#menu ul li a:hover {
  color: #dad4d4;
  border-bottom: 2px solid #dfdfdf;
}

/*adicionei background e border radius */
.imagem {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.imagem img {
  border-radius: 4px;
  height: 380px;
  box-sizing: border-box;
  border: 2.5px solid #000000;
  border-radius: 10px;
}

.imagem img:hover {
  border-color: #62639e;
}

.imagem img:active {
  border-color: rgb(0, 0, 0);
}

.imagem > div + div {
  margin-left: 10px;
}

.imagem > div {
  margin-bottom: 24px;
  flex: 1;
  text-align: center;
}

.foto {
  display: flex;
  justify-content: space-around;
}

.titulo,
.descricao {
  text-align: center;
  font-size: 13.5px;
  font-family: "Montserrat", sans-serif;
}

footer {
  background-image: linear-gradient(
    -90deg,
    rgb(186, 194, 216) 0%,
    #62639e 100%
  );
  padding: 5px 0;
  text-align: center;
}

.copyright {
  background-image: linear-gradient(
    -90deg,
    rgb(186, 194, 216) 0%,
    #62639e 100%
  );
  font-size: 12px;
}

@media only screen and (max-width: 700px) {
  .logo {
    display: none;
  }

  #menu ul {
    flex-direction: column;
    text-align: center;
  }

  #menu ul li a {
    display: block;
    width: 100%;
  }
}
